In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

/Users/taylorchoe/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [16]:
pitches = pd.read_csv('pitchdata_3_18.csv')

In [22]:
pitch_list = []

In [ ]:
#collects for 2018 season
for month in range(3, 11):
    if month == 5 or month == 7:
        p1 = read.csv('pitchdata_' + str(month) + '_15_18.csv')
        p2 = read.csv('pitchdata_' + str(month) + '_31_18.csv')
        pitch_list += p1
        pitch_list += p2
    elif month == 6 or month == 8 or month == 9:
        p1 = read.csv('pitchdata_' + str(month) + '_15_18.csv')
        p2 = read.csv('pitchdata_' + str(month) + '_30_18.csv')
        pitch_list += p1
        pitch_list += p2
    else:
        p = read.csv('pitchdata_' + str(month) + '_18.csv')
        pitch_list += p

In [ ]:
pitches_18 = pd.concatenate(pitch_list)

In [3]:
pitches.head()

,PITCHNO,TM_DATE,TM_TIME,PAOFINNING,PITCHOFPA,PITCHER,PITCHERID,PITCHERTHROWS,PITCHERTEAM,BATTER,...,Y0,Z0,VX0,VY0,VZ0,AX0,AY0,AZ0,GAMEID,PI_PITCH_TYPE
0,1,3/29/2018,2:40:39 PM,1,1,"Hamels, Cole",430935,Left,TEX,"Springer, George",...,50,6.006789,-5.541753,-128.595947,-6.365963,10.459448,26.621088,-20.135224,20180329-Arlington-1,FA
1,2,3/29/2018,2:40:53 PM,1,2,"Hamels, Cole",430935,Left,TEX,"Springer, George",...,50,5.944492,-4.349648,-128.311063,-5.468324,11.591063,26.985518,-19.898345,20180329-Arlington-1,SI
2,3,3/29/2018,2:41:08 PM,1,3,"Hamels, Cole",430935,Left,TEX,"Springer, George",...,50,6.090856,-6.886847,-131.290990,-4.949869,10.989218,27.924153,-19.328693,20180329-Arlington-1,FA
3,4,3/29/2018,2:41:52 PM,2,1,"Hamels, Cole",430935,Left,TEX,"Bregman, Alex",...,50,6.155188,-4.928870,-131.013212,-4.207840,9.092517,27.356660,-15.928903,20180329-Arlington-1,FA
4,5,3/29/2018,2:42:05 PM,2,2,"Hamels, Cole",430935,Left,TEX,"Bregman, Alex",...,50,5.995996,-7.951041,-131.121105,-5.956593,9.968671,28.417540,-15.240553,20180329-Arlington-1,FA

In [5]:
list(pitches.columns)

['PITCHNO',
 'TM_DATE',
 'TM_TIME',
 'PAOFINNING',
 'PITCHOFPA',
 'PITCHER',
 'PITCHERID',
 'PITCHERTHROWS',
 'PITCHERTEAM',
 'BATTER',
 'BATTERID',
 'BATTERSIDE',
 'BATTERTEAM',
 'PITCHERSET',
 'INNING',
 'TOP_BOTTOM',
 'OUTS',
 'BALLS',
 'STRIKES',
 'TAGGEDPITCHTYPE',
 'AUTOPITCHTYPE',
 'PITCHCALL',
 'KORBB',
 'RELSPEED',
 'EFFECTIVEVELO',
 'VERTRELANGLE',
 'HORZRELANGLE',
 'SPINRATE',
 'SPINAXIS',
 'TILT',
 'RELHEIGHT',
 'RELSIDE',
 'EXTENSION',
 'VERTBREAK',
 'INDUCEDVERTBREAK',
 'HORZBREAK',
 'PLATELOCHEIGHT',
 'PLATELOCSIDE',
 'ZONESPEED',
 'SPEEDDROP',
 'VERTAPPRANGLE',
 'HORZAPPRANGLE',
 'ZONETIME',
 'PITCHLASTMEASUREDX',
 'PITCHLASTMEASUREDY',
 'PITCHLASTMEASUREDZ',
 'PFXX',
 'PFXZ',
 'X0',
 'Y0',
 'Z0',
 'VX0',
 'VY0',
 'VZ0',
 'AX0',
 'AY0',
 'AZ0',
 'GAMEID',
 'PI_PITCH_TYPE']

In [17]:
def get_columns(df):
    df['TM_DATE_TIME'] = pd.to_datetime(df['TM_DATE'] + ' ' + df['TM_TIME'])
    df['BATTERSIDE'] = df['BATTERSIDE'].map({'Right': 1, 'Left': 0})
    df['PITCHERTHROWS'] = df['PITCHERTHROWS'].map({'Right': 1, 'Left': 0})
    return df[['PITCHNO', 'TM_DATE_TIME','PAOFINNING','PITCHOFPA','PITCHER','PITCHERID','PITCHERTHROWS','BATTER','BATTERID','BATTERSIDE','BATTERTEAM','PITCHERSET','INNING','OUTS','BALLS','STRIKES','PITCHCALL','KORBB','RELSPEED','VERTRELANGLE','HORZRELANGLE','SPINRATE','SPINAXIS','TILT','RELHEIGHT','RELSIDE','EXTENSION','VERTBREAK','INDUCEDVERTBREAK','HORZBREAK','PLATELOCHEIGHT','PLATELOCSIDE','VERTAPPRANGLE','HORZAPPRANGLE','PFXX','PFXZ','X0','Y0','Z0','VX0','VY0','VZ0','AX0','AY0','AZ0','GAMEID','PI_PITCH_TYPE']]

In [18]:
pitches = get_columns(pitches)

In [19]:
def normalize_cols(df):
    df_copy = df.copy()
    df_copy[['RELSPEED','VERTRELANGLE','HORZRELANGLE','SPINRATE','SPINAXIS','RELHEIGHT','RELSIDE','EXTENSION','VERTBREAK','INDUCEDVERTBREAK','HORZBREAK','PLATELOCHEIGHT','PLATELOCSIDE','VERTAPPRANGLE','HORZAPPRANGLE','PFXX','PFXZ','X0','Y0','Z0','VX0','VY0','VZ0','AX0','AY0','AZ0']] = df_copy[['RELSPEED','VERTRELANGLE','HORZRELANGLE','SPINRATE','SPINAXIS','RELHEIGHT','RELSIDE','EXTENSION','VERTBREAK','INDUCEDVERTBREAK','HORZBREAK','PLATELOCHEIGHT','PLATELOCSIDE','VERTAPPRANGLE','HORZAPPRANGLE','PFXX','PFXZ','X0','Y0','Z0','VX0','VY0','VZ0','AX0','AY0','AZ0']].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
    return df_copy

In [20]:
norm_pitches = normalize_cols(pitches)

In [21]:
norm_pitches.head()

,PITCHNO,TM_DATE_TIME,PAOFINNING,PITCHOFPA,PITCHER,PITCHERID,PITCHERTHROWS,BATTER,BATTERID,BATTERSIDE,...,Y0,Z0,VX0,VY0,VZ0,AX0,AY0,AZ0,GAMEID,PI_PITCH_TYPE
0,1,2018-03-29 14:40:39,1,1,"Hamels, Cole",430935,0,"Springer, George",543807,1,...,NaN,0.506461,0.340135,0.239717,0.275225,0.748064,0.538883,0.624597,20180329-Arlington-1,FA
1,2,2018-03-29 14:40:53,1,2,"Hamels, Cole",430935,0,"Springer, George",543807,1,...,NaN,0.498633,0.373942,0.243286,0.299847,0.761498,0.549332,0.627089,20180329-Arlington-1,SI
2,3,2018-03-29 14:41:08,1,3,"Hamels, Cole",430935,0,"Springer, George",543807,1,...,NaN,0.517026,0.301988,0.205955,0.314069,0.754353,0.576244,0.633082,20180329-Arlington-1,FA
3,4,2018-03-29 14:41:52,2,1,"Hamels, Cole",430935,0,"Bregman, Alex",608324,1,...,NaN,0.525111,0.357516,0.209435,0.334423,0.731836,0.559973,0.668849,20180329-Arlington-1,FA
4,5,2018-03-29 14:42:05,2,2,"Hamels, Cole",430935,0,"Bregman, Alex",608324,1,...,NaN,0.505105,0.271808,0.208083,0.286454,0.742238,0.590390,0.676090,20180329-Arlington-1,FA